.MintingGrid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.ItemBoxContainer {
  flex-shrink: 0;
}

.ItemBoxContainer p {
  font-size: 1em;
}

.Item {
  flex-grow: 1;
  border: 1px solid black;
}

.WeaponButton {
  padding: 0px;
  border: 0px;
  background: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.WeaponButton:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5) 0 0);
  /* background-image: linear-gradient(rgba(218, 64, 64, 0.5) 0 0); */
  color: white;
}

:global .WeaponButtonClicked {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5) 0 0); */
  background-image: linear-gradient(rgba(0, 255, 255, 0.5) 0 0);
  color: white;
}
