.GameGrid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.BoardButton {
  display: flex;
  width: 5em;
  height: 5em;
  margin: 1px;
  justify-content: center;
  align-items: center;
}

.BoardButton img {
  width: 5em;
  height: 5em;
}

.ExplorerInfo {
}

.ExplorerInfo p {
  text-align: center;
  font-size: 2em;
  color: #e8c112;
  text-shadow: 0.1em 0.1em black;
}

.ExplorerInfo span {
  text-align: center;
  color: #da4040;
  text-shadow: 0.1em 0.1em black;
}

:global .span-green {
  color: #07e23c !important;
}

:global .disabledButton {
  background-color: #808080;
}

.EtherInput {
  width: 5em;
}
