.home {
  padding-top: 80px;
  overflow-x: hidden;
  position: relative;
  z-index: 100;
}

.Town {
  padding-top: 80px;
  position: relative;
  z-index: 100;
}

.Transaction {
  padding-top: 80px;
  position: relative;
  z-index: 100;
}

.Explorer {
  padding-top: 80px;
  position: relative;
  z-index: 100;
}

.MarketPlace {
  padding-top: 80px;
}

.Terms {
}

.Inventory {
}

.Inventory h2 {
  text-align: center;
  font-size: 2em;
  color: #da4040;
  text-shadow: 0.1em 0.1em black;
}

.Explorer h2 {
  text-align: center;
  font-size: 2em;
  color: #da4040;
  text-shadow: 0.1em 0.1em black;
}

.Activties h2 {
  text-align: center;
  font-size: 2em;
  color: #da4040;
  text-shadow: 0.1em 0.1em black;
}

:global .flex {
  display: flex;
  align-items: center;
}

.PageTitle {
  text-align: center;
  font-size: 2em;
  color: #da4040;
  text-shadow: 0.2em 0.2em black;
}

:global .flex-col {
  flex-direction: column;
}

:global .flex-row {
  flex-direction: row;
}

:global .item-center {
  align-items: center;
}

:global .flex-split {
  justify-content: space-around;
  width: 100%;
  padding: 0;
}

:global .flex-evenly {
  justify-content: space-evenly;
}

:global .grid {
  display: grid;
  align-items: center;
}

:global .gridCol {
  grid-template-columns: 1fr 1fr;
}
